<h1>Create a new author</h1>

<% if flash[:errors] %>
  <h3 style='color: red;'>
    Error: <%= flash[:errors].first %>
  </h3>
<% end %>

<%= form_for @author, method: :post do |f| %>
    Username: <%= f.text_field :username %><br /><br />
    Password: <%= f.text_field :password %><br /><br />
    <br />
    <%= f.submit %>
  <% end %>
